@import 'tailwindcss';

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* CSS Intan */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Montserrat:ital,wght@0,500;0,700;1,400;1,500&family=Roboto:wght@400;500&family=Source+Sans+Pro:wght@700&display=swap')
layer(utilities);

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility size-selector {
  & input:checked + label {
    @apply bg-green-500 text-white;
  }
}

@layer base {
  body {
    @apply font-sourceSansPro;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-montserrat;
  }
}

.fbButton {
  position: fixed;
  right: 2em;
  bottom: 4em;
}

.z-500 {
  z-index: 500;
}

.imageBackgroundCarousel {
  background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.6),
      rgba(20, 20, 20, 0.6)
    ),
    url("/img/bg-no-overlay.webp");
  background-size: cover;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
